body {
  background: #c5facf;
  background-image: url("../../../media/bread_board.jpg");
  background-repeat: no-repeat;
  color: #333333;
  margin-top: 5rem;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 700;
}

.content-section {
  /*background: #d8ffee;*/

 background: rgb(166,223,182);
background: radial-gradient(circle, rgb(170, 223, 200) 0%, rgb(208, 199, 207) 100%);

  /*background-image: url('../../../media/post_back.jpg');*/
  background-repeat: no-repeat;
  padding: 100px 20px;
  border: 1px solid #2d0717;
  border-radius: 15px;
  margin-bottom: 20px;
}

.Registercontent-section{
  background: rgb(166,223,182);
  background: radial-gradient(circle, rgb(170, 223, 200) 0%, rgb(208, 199, 207) 100%);
  padding: 0px 300px 50px 300px;
  border: 1px solid #2d0717;
  border-radius: 45px;
  margin-bottom: 2px;
}

.logincontent-section {
  background-image: url("../../../media/login_image.jpg");
  padding: 100px 400px;
  border: 1px solid #2d0717;
  border-radius: 45px;
  margin-bottom: 2px;
}

.Postcontent-section {
  background-image: url("../../../media/post_article.jpg");
  padding: 100px 400px;
  border: 1px solid #2d0717;
  border-radius: 45px;
  margin-bottom: 2px;
}

.Profilecontent-section {
  background-image: url("../../../media/profile_content.jpg");
  padding: 100px 400px;
  border: 1px solid #2d0717;
  border-radius: 45px;
  margin-bottom: 2px;

}

.logoutcontent-section {
  background-image: url("../../../media/logout.jpg") ;
  background-repeat: no-repeat;
  font-family: monospace;
  text-align: center;
  padding: 100px 400px;
  border: 1px solid #2d0717;
  border-radius: 45px;
  margin-bottom: 2px;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 75px;
  width: 75px;
  margin-right: 20px;
  animation:spin 150s linear infinite;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 225px;
  width: 225px;
  margin-right: 40px;
  margin-bottom: 1px;
  margin-top: -5rem;
  animation:spin 30s linear infinite;
}

.account-heading {
  font-size: 2.5rem;
}

.logo img{
    width: 50px;
    float: right;
    animation:spin 5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
