{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="Postcontent-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Publish Your Article</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info btn-lg btn-block" type="submit">Confirm Post</button>
            </div>
        </form>
    </div>
{% endblock content %}