{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="Registercontent-section">
        <div class="border-top pt-3">
                 <a class="btn btn-primary ml-2" href="{% url 'login' %}">Already Have An Account? Sign In</a>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock content %}
